.orders {
  min-height: 100vh;
  padding: 40px 20px;
  background: linear-gradient(135deg, #070d49, #72e1d8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orders h2 {
  margin-bottom: 30px;
  color: white;
  font-size: 28px;
}

.loading,
.no-orders {
  color: rgb(230, 213, 213);
  font-size: 18px;
}

/* Order Card */
.order-card {
  width: 100%;
  max-width: 750px;
  background: rgb(195, 187, 187);
  border-radius: 14px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.order-card:hover {
  transform: translateY(-5px);
}

/* Header */
.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.status {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
}

.status.pending {
  background: #fff3cd;
  color: #856404;
}

.status.processing {
  background: #cce5ff;
  color: #004085;
}

.status.shipped {
  background: #d4edda;
  color: #155724;
}

.status.delivered {
  background: #e2e3e5;
  color: #383d41;
}

.status.cancelled {
  background: #f8d7da;
  color: #721c24;
}

/* Summary */
.order-summary {
  margin-bottom: 15px;
  font-size: 14px;
}

/* Items */
.order-items {
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.order-item {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  align-items: center;
}

.order-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.product-name {
  font-weight: 600;
}

.no-items {
  color: gray;
}

/* Buttons */
.order-actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.track-btn {
  background: #007bff;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.track-btn:hover {
  background: #0056b3;
}

.cancel-btn {
  background: #dc3545;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.cancel-btn:hover {
  background: #a71d2a;
}
