.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  padding: 15px 30px;
  background: #d1e9ee;
  box-shadow: 0 2px 10px rgba(27, 42, 179, 0.08);
  position: sticky;
  flex-wrap: wrap;
  top: 0;
}
.search-bar {
  padding: 8px 12px;
  width: 250px;
  margin: 5px 10px;
  border-radius: 5px;
  border: none;
  color: #c3eaf2;
  background: linear-gradient(135deg, #02084e, #69cec6);
}
.subhead a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}
.navbar div {
  display: flex;              
  gap: 25px;
}
.categories {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  color: #212425;
}

.navbar a {
  margin-left: 10px;
  text-decoration: none;
  color: #390e62;
  font-weight: 500;
}


@media (max-width: 600px) {
  .navbar {
    flex-direction: column;     /* stack logo + links */
    align-items: flex-start;
    padding: 15px;
  }

  .navbar div {
    flex-direction: column;     /* stack links vertically */
    margin-top: 10px;
    gap: 10px;
  }

  .navbar a {
    display: block;
    margin: 6px 0;
  }
}

